html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.2vw;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4cebc; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eaeee7; 
}

body, button {
  font-family: "Albert Sans";
  font-weight: 200;
  background-color: #31363A;
  color: #77848c;

}

a,b, .button:hover, .selected  {
  color: #bcc2c7;
  font-weight: 225;
  text-decoration: none;
}

body {
  font-size:5vw;
  font-size: calc(1rem + 1.2vw);
  padding-top: 2%;
  padding-bottom: 16.5%;
  padding-left:18%;
  padding-right: 18%;
  line-height: 175%;
}

nav{
  padding-top: 2%;
  text-align: center;
  font-family: "Roboto Mono";
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left:0%;
    padding-right:0%;
    max-width: 100%;
/*    font-weight: 300;*/
    line-height: 200%;
  }

  button {
    font-size: 1vw;
    font-weight: 225;
  }

  nav {
    font-family: Albert Sans;
  }
}

/*a,b, .button:hover, .selected  {
  color: #EEEFE5;
  font-weight: 200;
  text-decoration: none;
}*/

a:hover {
  text-decoration: underline;
}

nowrap {
  white-space: nowrap;
}

.monospace {
/*  font-family: "Roboto Mono";*/
  font-family: "Inconsolata";
  font-weight: 300;
  font-size: 80%;
/*  font-size: 68%;*/
}

.tab {
  padding-top: 7%;
}

/*.title {
  font-weight: 400;
}*/

.venue {
  font-style: italic;
}

.button {
  border: none;
  font-size: 95%;
  text-align: center;
  transition: 0.3s;
}

/*.button:hover, .selected {
  color: #EEEFE5;
}*/

.fade-in{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

.news {
  font-size: 90%;
}

.publications {
  font-size: 80%;
  line-height: 155%;
}